template(name='cvFields')
  .set
    .secHeader
      .title: p #{title}
      .duration: p
        .start: p #{start} 
        .hyphen: p –
        .end: p #{end}
    .where: p #{where}
    .desc: p #{desc}  
