template(name='cvFields')
  .set
    .secHeader
      .title: p #{title}
      .duration: p
        .ui.purple.right.ribbon.label
          .start: p #{start} 
          .hyphen: p –
          .end: p #{end}
    .where #{where}
    .desc: p #{desc}
  +hideRemoveBtn
