template(name='cvFields')
  .set
    .secHeader
      .title: p #{title}
      .duration: p
        .ui.purple.right.ribbon.label
          .start: p #{start} 
          .hyphen: p –
          .end: p #{end}
    .where #{where}
    
    // Caution about line break: 
    //It only works when a line break is entered with Shift + Enter when submitting a desc data to collection but not when you insert a line break when editing the desc text
    .desc: p #{desc}
  +hideRemoveBtn
